html, body {
    width: 100%;
    font-family: 'Helvetica', sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

a {
    color: seashell
}

header {
    width: 100%;
    display: fixed;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    offset: 0px 0px;
}

#main-logo {
    float: left;
    height: 50px;
    margin-left: 10px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-list {
    text-decoration: underline;
    height: 100%;
    display: flex;
    float: right;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.nav-list .item {
    margin: 10px;
    padding: 10px;
}

#mission {
    display: flex;
    min-width: 1200px;
    flex-grow: 1;
    height: 700px;
    background: url(./img-mission-background.webp);
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
    margin: 0px auto;
}

#mission .banner {
    width: 1200px;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: space-around;
}